/*General Styles*/
body {
    font-family: Arial, Helvetica, sans-serif;
    background: url("../images/mountains0.jpg") fixed bottom left;
    background-size: cover;
}

#numline {
    background: url("../images/vsnl.PNG");
    background-position: 45% top;
    background-size: 140% auto;
}

h1 {
    font-size: 24px;
    line-height: 2;
}

/*NavBar styles*/
.navbar-brand {
    margin: -8px auto;
    padding: 12px;
    color: black;
    text-shadow: 1px 1px 2px darkgray;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.navbar-brand.hover {
    text-decoration: none;
    color: gray;
}

#sideBar {
    text-align: center;
    background: rgb(30, 30, 30);
    border: 1px solid black;
    border-radius: 8px;
}

#navPic {
    object-fit: contain;
    max-width: 50%;
    height: auto;
    margin: 4px auto 0;
    border-radius: 50%;
}

.nav-link:hover {
    cursor: pointer;
}


#aboutClick:hover {
    color: gold;
}

#portClick:hover {
    color: gold;
}

#conClick:hover {
    color: gold;
}

/*Main Body Styles*/

.headerText {
    text-align: center;
    font-weight: 400;
}

.headerUnder {
    border-bottom: 1px solid black;
}

#mainBody {
    border-radius: 8px;
    border: 1px solid black;
    background: rgb(30, 30, 30);
}

.green {
    color: rgb(106, 153, 85);
}

.blue {
    color: rgb(114, 157, 179);
}

.white {
    color: rgb(156, 202, 196);
}

.red {
    color: rgb(195, 96, 44);
}

/*Footer Styles*/
.fixed-bottom {
    text-align: center;
    left: 0;
    bottom: 0;
    position: fixed;
    background-color: #666666;
    color: #4aaaa5;
}

/*Portfolio Styles*/
.portfolioimages {
    height: 160px;
    width: 160px;
    object-fit: cover;
    float: left;
    margin: 20px 0;
    border-radius: 10px;
}

.portfoliotext {
    background-color: rgb(106, 153, 85);
    color: white;
    width: 160px;
    max-height: 50px;
    position: absolute;
    margin: 150px 0px;
    text-align: center;
}

/*About Styles*/
.abouttext {
    line-height: 1.5;
}

/*Contact Styles*/
.contactwidth {
    box-sizing: initial;
    box-sizing: 70%;
}

.contactLink {
    color: rgb(114, 157, 179);
    display: table-cell;
    vertical-align: middle;
}

@media only screen and (max-width: 550px) {
    .portfolioimages {
        height: 120px;
        width: 120px;
    }
    .portfoliotext {
        width: 120px;
        margin: 110px 0px;
        font-size: 14px;
    }
}

/*Remove off-center of header*/
@media only screen and (min-width: 576px) {
    .headerText {
        text-align: initial;
    }
}

/*Standardize sizing of navpic*/
@media only screen and (min-width: 768px) and (max-width: 991px) {
    #navPic {
        max-width: 70%;
    }
}

/* @media only screen and (max-width: 768px) {
    body {
        background-size: cover;
        background-repeat: no-repeat;
    }
} */

/* @media only screen and (max-width: 576px) {

} */